# =====================================
# Virtual Environment
# =====================================
.venv/

# =====================================
# Python Cache
# =====================================
__pycache__/
*.pyc

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# Ignore raw datasets
# =====================================
data/raw/*
!data/raw/README.md

# =====================================
# Ignore compressed files
# =====================================
*.zip
*.7z
*.rar